{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">Bookings List</h2>

<form method="GET" class="mb-4">
    <div class="row">

        <div class="col-md-4">
            <input
                type="text"
                name="q"
                class="form-control"
                placeholder="Search booking ID"
                value="{{ query }}"
            >
        </div>

        <div class="col-md-4">
            <select name="status" class="form-control">
                <option value="">All</option>
                <option value="booked">Booked</option>
                <option value="completed">Completed</option>
                <option value="registered">Registered</option>
                <option value="cancelled">Cancelled</option>
            </select>
        </div>

        <div class="col-md-2">
            <button class="btn btn-primary">
                Search
            </button>
        </div>

    </div>
</form>

<a href="/bookings/create/" class="btn btn-success mb-3">
    Create Booking
</a>

<div class="card shadow-sm">
    <div class="card-body">

        <table class="table table-bordered table-hover">

            <thead>
                <tr>
                    <th>Booking ID</th>
                    <th>Customer</th>
                    <th>Project</th>
                    <th>Plot</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>
                {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.booking_id }}</td>
                        <td>{{ booking.customer.customer_name }}</td>
                        <td>{{ booking.project.project_name }}</td>
                        <td>{{ booking.plot.plot_number }}</td>
                        <td>₹{{ booking.booking_amount }}</td>
                        <td>{{ booking.status }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">
                            No bookings found.
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>
</div>

{% endblock %}