{% extends "accounts/auth_base.html" %}

{% block title %}
Forgot Password
{% endblock %}

{% block subtitle %}
Enter your registered email address to receive a secure password reset link.
{% endblock %}

{% block content %}

<h3 class="mb-4 fw-bold">
    Forgot Password
</h3>

<form method="POST">

    {% csrf_token %}

    <div class="mb-3">

        <label class="form-label fw-semibold">

            <i class="fa-solid fa-envelope me-2"></i>

            Email Address

        </label>

        {{ form.email }}

        {% if form.email.errors %}

            <div class="text-danger mt-1">

                {{ form.email.errors }}

            </div>

        {% endif %}

    </div>

    <button class="btn btn-primary w-100">

        <i class="fa-solid fa-paper-plane me-2"></i>

        Send Password Reset Link

    </button>

</form>

<div class="footer-link">

    <a href="{% url 'login' %}" class="text-decoration-none">

        <i class="fa-solid fa-arrow-left me-2"></i>

        Back to Login

    </a>

</div>

{% endblock %}