{% extends 'layouts/base.html' %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<h2 class="mb-4">Create Team</h2>

<form method="POST">
    {% csrf_token %}

    <!-- Team Name -->
    <div class="mb-3">
        <label>Team Name</label>
        {{ form.team_name }}
    </div>

    <!-- Team Head -->
    <div class="mb-3">
        <label>Select Team Head</label>
        {{ form.team_head }}
    </div>

    <!-- Team Members -->
    <div class="mb-3">
        <label>Select Team Members</label>

        <div class="border p-3 rounded">
            {{ form.members }}
        </div>
    </div>

    <script>
    $(document).ready(function () {
       $('#id_members').select2({
           placeholder: "Select Team Members",
           width: '100%'
        });
    });
    </script>

    <!-- Description -->
    <div class="mb-3">
        <label>Description</label>
        {{ form.description }}
    </div>

    <!-- Status -->
    <div class="mb-3">
        <label>Status</label>
        {{ form.status }}
    </div>

    <button type="submit" class="btn btn-success">
        Save Team
    </button>

</form>

{% endblock %}