{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">Payments List</h2>

<form method="GET" class="mb-4">
    <div class="row">

        <div class="col-md-4">
            <input
                type="text"
                name="q"
                class="form-control"
                placeholder="Search payment ID"
                value="{{ query }}"
            >
        </div>

        <div class="col-md-4">
            <select name="status" class="form-control">
                <option value="">All</option>
                <option value="partial">Partial</option>
                <option value="full">Full</option>
            </select>
        </div>

        <div class="col-md-2">
            <button class="btn btn-primary">
                Search
            </button>
        </div>

    </div>
</form>

<a href="/payments/create/" class="btn btn-success mb-3">
    Create Payment
</a>

<div class="card shadow-sm">
    <div class="card-body">

        <table class="table table-bordered table-hover">

            <thead>
                <tr>
                    <th>Payment ID</th>
                    <th>Booking ID</th>
                    <th>Amount</th>
                    <th>Payment Mode</th>
                    <th>Status</th>
                    <th>Date</th>
                </tr>
            </thead>

            <tbody>
                {% for payment in payments %}
                    <tr>
                        <td>{{ payment.payment_id }}</td>
                        <td>{{ payment.booking.booking_id }}</td>
                        <td>₹{{ payment.amount }}</td>
                        <td>{{ payment.payment_mode }}</td>
                        <td>{{ payment.status }}</td>
                        <td>{{ payment.payment_date }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">
                            No payments found.
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>
</div>

{% endblock %}