{% extends 'layouts/base.html' %}

{% block content %}

<h2>Customer Profile</h2>

<hr>

 
<div class="card shadow-sm p-4">

    <p><strong>Customer ID:</strong> {{ customer.customer_id }}</p>
    <p><strong>Name:</strong> {{ customer.customer_name }}</p>
    <p><strong>Mobile:</strong> {{ customer.mobile_number }}</p>
    <p><strong>Email:</strong> {{ customer.email }}</p>
    <p><strong>Address:</strong> {{ customer.address }}</p>

    <hr>

    <h4>Booking Details</h4>

    <p><strong>Booking ID:</strong> {{ customer.booking.booking_id }}</p>
    <p><strong>Project:</strong> {{ customer.booking.project.project_name }}</p>
    <p><strong>Plot:</strong> {{ customer.booking.plot.plot_number }}</p>

    <hr>

    <h4>Registration</h4>

    <p><strong>Status:</strong> {{ customer.registration_status }}</p>
    <p><strong>Date:</strong> {{ customer.registration_date }}</p>

    <hr>

    <h4>Ownership</h4>

    <p><strong>Status:</strong> {{ customer.ownership_status }}</p>

    <hr>
<hr>

<h4>Payment Summary</h4>

<table class="table table-bordered">

    <tr>
        <th>Booking Amount</th>
        <td>₹{{ booking.booking_amount }}</td>
    </tr>

    <tr>
        <th>Total Paid</th>
        <td>₹{{ total_paid }}</td>
    </tr>

    <tr>
        <th>Pending Amount</th>
        <td>₹{{ pending }}</td>
    </tr>

</table>
    <h4>Payment History</h4>

    {% for payment in payments %}
        <p>
            {{ payment.payment_id }} -
            ₹{{ payment.amount }} -
            {{ payment.status }}
        </p>
    {% empty %}
        <p>No payments found</p>
    {% endfor %}

</div>
<hr>

<h4>Commission Details</h4>

{% if commission %}

<table class="table table-bordered">

    <tr>
        <th>Commission ID</th>
        <td>{{ commission.commission_id }}</td>
    </tr>

    <tr>
        <th>Status</th>
        <td>{{ commission.status }}</td>
    </tr>

    <tr>
        <th>Employee</th>
        <td>

            {% if commission.employee %}
                {{ commission.employee.first_name }}
                {{ commission.employee.surname }}
            {% else %}
                -
            {% endif %}

        </td>
    </tr>

    <tr>
        <th>Employee Net</th>
        <td>₹{{ commission.employee_net }}</td>
    </tr>

    <tr>
        <th>Team Net</th>
        <td>₹{{ commission.team_net }}</td>
    </tr>

</table>

{% else %}

<div class="alert alert-info">

    Commission not generated yet.

</div>

{% endif %}

{% endblock %}