{% extends 'base.html' %}

{% block content %}

<div class="card shadow-sm p-4">

    <h2 class="mb-4">Add Employee</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">

            <div class="col-md-6">
                <h5>Personal Details</h5>
                {{ form.first_name.label_tag }}
                {{ form.first_name }}

                {{ form.surname.label_tag }}
                {{ form.surname }}

                {{ form.mobile_number.label_tag }}
                {{ form.mobile_number }}

                {{ form.email.label_tag }}
                {{ form.email }}

                {{ form.address.label_tag }}
                {{ form.address }}
            </div>

            <div class="col-md-6">
                <h5>Job Details</h5>
                {{ form.designation.label_tag }}
                {{ form.designation }}

                {{ form.status.label_tag }}
                {{ form.status }}

                {{ form.joining_date.label_tag }}
                {{ form.joining_date }}

                {{ form.salary.label_tag }}
                {{ form.salary }}

                {{ form.reporting_to.label_tag }}
                {{ form.reporting_to }}
            </div>

        </div>

        <hr>

        <h5>Documents</h5>

        {{ form.photo.label_tag }}
        {{ form.photo }}

        {{ form.aadhaar.label_tag }}
        {{ form.aadhaar }}

        {{ form.pan.label_tag }}
        {{ form.pan }}

        <br><br>

        <button type="submit" class="btn btn-success">
            Save Employee
        </button>

    </form>

</div>

{% endblock %}