from registrations.services.registration_service import RegistrationService
from django.contrib import messages
from django.core.exceptions import ValidationError


@role_required(["admin", "manager"])
def create_registration(request):

    form = RegistrationForm(
        request.POST or None,
        request.FILES or None
    )

    if request.method == "POST":

        if form.is_valid():

            try:

                registration = RegistrationService.register_property(
                    form=form,
                    user=request.user
                )

                messages.success(
                    request,
                    f"Registration {registration.registration_id} completed successfully."
                )

                return redirect(
                    "registration_list"
                )

            except ValidationError as e:

                messages.error(
                    request,
                    str(e)
                )

        else:

            messages.error(
                request,
                "Please correct the errors below."
            )

    return render(
        request,
        "registrations/create_registration.html",
        {
            "form": form
        }
    )